

.navbar-item {
  font-size: 22px;
  padding: 15px;
  

  font-weight: bold;
  

}

.form input {
  border-radius: 50px;
}

.form textarea {
  border-radius: 30px;
}


.navbar { 
  background-color: black;
  
  padding-bottom: 5px;
}

.title-name {
  color: blueviolet;
 padding: 15px 15px 7px 40px;
}

.title-section {
  flex-basis: 100%;
  text-decoration: underline;
  padding: 10px;
  
}



.card{
  width: 22%;
}





.form {
  text-align: center;
  border: 2px double violet;
  border-radius: 25px;
  width: 60%;
  background-color: white;

  margin: 0 auto;
  min-height: 380px;
  
  
}

.field {
  padding: 10px;
}


svg {
  width: 13%;
  height: 13%;
  padding: 10px;

  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  transition: 0.3s;
}


/* Disable grayscale on hover */
svg:hover {
  -webkit-filter: grayscale(0);
  filter: none;
  width: 15%;
  height: 15%;
}



.container {
  padding: 10px;
}

.container-projects {
  display: flex;
  max-width: 1200px;
  justify-content: space-evenly;
  flex-wrap: wrap;

  /* Center the container in middle on horizontal axis */
 

  /* Add empty space above the container (20% of the view height) */
  margin-top: 20vh;
}


.card-footer {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
}







/* ****RESPONSIVE**** */


@media (max-width: 960px) {
  .card{
    width: 45%;
  }
}

@media (max-width: 520px) {
  .card{
    width: 90%;
  }
}
